// Primary & secondary
$purple: #66669F;
$green: #6ED0C4;

// Functional colors
$red: #F27171;
$blue: #4093C1;
$yellow: #FFD584;
$dark-yellow: #FFC344;
$orange: #FF8227;

// Grays
$black: #2F2F2F;
$gray: #51525B;
$medium-gray: #B2B2B2;
$light-gray: #E1E1E1;
$lighter-gray: #F9F9F9;
$white: #fff;
