// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

// Define fonts for body and headers
$body-font: "Noto Sans SC", "Helvetica", "sans-serif";
$headers-font: "Noto Sans SC", "Helvetica", "sans-serif";
