<ul class="nav nav-custom justify-content-around align-items-center fixed-bottom">
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <%= image_tag "search-purple", width: "24px" %>
      <p>Home</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <%= image_tag "marker-purple", width: "24px" %>
      <p>Journey</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <%= image_tag "person-purple", width: "24px" %>
      <p>Me</p>
    </a>
  </li>
</ul>


