<h1>My User Journey Records</h1>
<p>Find me in app/views/records/show.html.erb</p>
<p> My records : <%= @myrecords.count %></p>
<%= render 'record' %>
<p><%= link_to "home", scenarios_path%> </p>

<%= render 'shared/navbar' %>
