<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <div style="width: 120px; margin-bottom: 80px;">
    <%= image_tag "logo.svg" %>
  </div>
  <%= link_to "开始", scenarios_path, class: "button-green" %>
</div>
