<p><%= link_to "demo", scenario_step_path(@scenario.id, @c1)%> </p>
<p><%= link_to "walkthrough", scenario_step_path(@scenario.id, @c2)%> </p>
<p><%= link_to "practice", scenario_step_path(@scenario.id, @c3)%> </p>