<h1>Steps#show</h1>
<!-- This is to render individual steps  # work in progress-->
<h2>All steps</h2>
<% @steps.each do |step| %>
  <p><%= @step.category %> </p>
  <p><%= @step.instruction %> </p>
<% end %>