<!-- This is the overall scenarios listing landing page -->
<div class="container my-3">
  <div class="row">
    <% @scenarios.each do |scenario| %>
      <div class="col-sm-12 col-md-6">
        <%= link_to scenario.title, scenario_path(scenario.id) %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/navbar' %>
