<!-- This is the overall scenarios listing landing page -->
<div class="container my-3">
  <div class="row">
    <% @scenarios.each do |scenario| %>
      <div class="col-sm-12 col-md-6">
        <%= link_to scenario_path(scenario.id) do %>
          <div class="card scenario-card mb-3" style="background-image: url(<%= url_for(scenario.image) %>)">
            <h5><%= scenario.title %></h5>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/navbar' %>
