<h1>Scenario</h1>
<!-- This page is to render the introduction page for the individual scenario -->
<p>Title : <%= @scenario.title %></p>
<p>Description : <%= @scenario.description %></p>
<%= link_to "steps", scenario_step_path(@scenario.id)%>