.yellow-card {
  background-color: #FFD584;
  h5, p {
    color: #F4793E;
  }
}
.red-card {
  background-color: #FCB8B8;
  h5, p {
    color: #E44D4D;
  }
}
.blue-card {
  background-color: #C4DBE8;
  h5, p {
    color: #4093C1;
  }
}
.green-card {
  background-color: #C2E0C2;
  h5, p {
    color: #62A462;
  }
}
.brown-card {
  background-color: #D9CABF;
  h5, p {
    color: #9A8373;
  }
}

