.record-card {
  padding-top: 30%;
  border: none;
  border-radius: 10px;
  color: $primary;
  background-color: transparentize($primary, 0.75);
  position: relative;
  h5 {
    position: absolute;
    margin: 0;
    top: calc(50% - 26px);
    left: 30px;
  }
  p {
    position: absolute;
    margin: 0;
    top: calc(50% + 6px);
    left: 30px;
  }
}
