.intro-index {
  width: 32px;
  height: 32px;
  margin: 0;
  line-height: 32px;
  border-radius: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #C2E0C2;
  color: $white;
  cursor: pointer;
}
